
<div class="clearfix">
   <%= f.label :content, t("activerecord.attributes.message.content", :default => "Content"), :class => :label %>
  <div class="input">
    <%= f.text_area :content, :class => 'text_area' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :tags, t("activerecord.attributes.message.tags", :default => "Tags"), :class => :label %>
  <div class="input">
    <%= f.text_field :tags, :class => 'text_field' %>
  </div>
</div>
<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", messages_path %>
</div>
