<h1>What's happening ?</h1>
<br/>
<%= form_for @message, :url => messages_path, :html => { :class => :form } do |f| -%>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>

<% @messages.each do |message| -%>
  <div class="row message">
    <div class="span1 photo">
      <%= image_tag "http://www.gravatar.com/avatar/ee8ea294c76022c5a6e163a05d255700.png" %>
    </div>
    <div class="span5">
      <div class="row">
        <div class="span4">
          <strong>@apirak</strong>
          <%= time_ago_in_words(message.created_at) %>
        </div>
        <div class="span1">
          <%= link_to raw("<i class='icon-pencil'></i>"), message_path(message) %>
          <%= link_to raw("<i class='icon-trash'></i>"), message_path(message), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <%= link_to message.content, message_path(message) %>
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <% unless message.tags.blank? %>
            tag:
            <% message.tags.each do |tag| -%>
              <%= tag %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end -%>
