<%= render :partial => "message", :locals => {:message => @message} %>

<h3>comment</h3>
<p>
<% @comments.each do |comment| -%>
  <div class="row comment">
    <div class="span1 photo">
      <%= image_tag "http://www.gravatar.com/avatar/ee8ea294c76022c5a6e163a05d255700.png" %>
    </div>
    <div class="span5">
      <div class="row">
        <div class="span4">
          <strong>
            <%= comment.user_name %>
          </strong>
          <%= time_ago_in_words(comment.created_at) %>
        </div>
        <div class="span1">
          <%= link_to raw("<i class='icon-trash'></i>"), comment_path(comment), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <%= comment.content %>
        </div>
      </div>
    </div>
  </div>  
<% end -%>
</p>
<%= render :partial => "/comments/form", :locals => {:comment => @comment} %>